VisualElement {
    position: absolute;
    top: 10%;
    width: 100%;
    -unity-text-align: middle-center;
    font-size: 28px;
    color: white;
    white-space: normal;
}

#Text {
    color: red;
}

.test {
    color: pink;
}